.career{
  margin-top: 2rem;
  padding: 3rem 5%;
}
.mainheading{
  font-size: 27pt;
  font-weight: 600;
}
.buttons{
  margin-top: 3rem;
}
.btn{
  border: .5px solid rgb(217, 207, 207);
  border-radius: 30px;
  padding: .3rem 1rem;
  font-size: 8pt;
  margin: .8rem 0 .5rem .5rem;
  font-weight: 600;
  color: rgb(66, 63, 63);
}
.black{
  border: none;
  border-radius: 30px;
  padding: .3rem 1.2rem;
  font-size: 9pt;
  margin: 2.5rem 0 2.5rem .5rem;
  font-weight: 600;
  background-color: black;
  color: white;
}
.box{
  margin-bottom: 2rem;
}
.subHeading{
  font-size: 14pt;
  font-weight: 600;
}
.para{
  font-size: 8pt;
}
.anchor{
  margin-top: 1rem;
  font-size: 10pt;
  font-weight: 700;
}


@media only screen and (min-width: 1024px) {
  .career{
    padding-top: 7rem;
  }
  .career h3{
    font-size: 19pt;
    font-weight: 600;
  }
  .mainHeading{
    font-size: 30pt;
  }
  .btn, .black{
    font-size: 12pt;
  }
  .para{
    font-size: 14pt;
  }
  
}


/* Dark theme */
@media (prefers-color-scheme: dark) {
  .career, .btn{
    background-color: rgb(29, 27, 27);
    color: white;
  }
  .black{
    border: 1px solid white;
  }

}