.footer{
  background-color: black;
  color: white;
  padding: 2rem;
  font-size: 10pt;
  line-height: 2.5;
}
.logo{
  margin-left: -.4rem;
}
.footer h2{
  font-weight: 600;
  font-size: 11pt;
}
.contactUs{
  margin-top: 3rem;
}
.company{
  margin-top: 2rem;
}

.earnWithSendme{
  margin-top: 2rem;
}

.getApp{
  margin-top: 2rem;
}
.store{
  display: flex;
}
.store img{
  border-radius: 4px;
  margin-right: .5rem;
}

.socialMedia{
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
}
.social{
  border: 1px solid #1b1b1b;
  border-radius: 50%;
  margin-right: 1rem;
  width: fit-content
}

.subscribe{
  margin-top: 2rem;
  background-color: rgb(71, 66, 66);
  padding: 1rem;
  border-radius: 5px;
}
.subInput{
  background-color: #d7d9e4;
  border-radius: 5px 0px 0 5px;
  color: black;
  padding: 16px;
  height:50px;
}
.subBtn{
  background-color: white;
  height: 2.5rem;
  padding: 0px 16px 3.2px;
  border-radius: 0px 5px 5px 0px;
}
.subscribe p{
  margin-top: 1rem;
  line-height: 1.2;
  color:  rgb(247, 240, 240);
}
.end{
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.end a{
  margin-right: 1.5rem;
}

@media only screen and (min-width: 631px) {
  .subBtn{
    padding: 16.5px 20px 20px;
    /* height: fit-content; */
  }
}

@media only screen and (min-width: 692px) {
  .subBtn{
    padding: 11.5px 20px 17px;
  }
}

@media only screen and (min-width: 768px) {
  .footer{
    font-size: 14pt;
  }
  .footer h2{
    font-size: 19pt;
  }
}
