.footer{
  background-color: black;
  color: white;
  padding: 2rem;
}
.contactUs{
  margin-top: 2rem;
}

.company{
  margin-top: 2rem;
}

.earnWithSendme{
  margin-top: 2rem;
}

.getApp{
  margin-top: 2rem;
}
.store{
  display: flex;
}

.socialMedia{
  margin: 2rem;
  display: flex;
  flex-direction: row;
}

.subscribe{
  margin-top: 2rem;
  background-color: rgb(71, 66, 66);
  color: white;
  padding: 1rem;
}

#email{
  background-color: blue;
}

.end{
  display: flex;
  justify-content: center;

}