@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap');



html,
body {
  padding: 0;
  margin: 0;
  background-color: #F4F4F4;
  scroll-behavior: smooth;
  max-width: 1500px;
  margin: auto;
}


