@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap');

/* Header */
.header{
  padding: 0 1rem;
  margin: 2rem 0rem;
  padding-top: 3rem;
}
.col1{
  width: 100%;
}
.col2{
  display: none;
}
.mainHeading{
  font-family: Lato;
  font-size: 33pt;
  font-weight: 900;
  line-height: normal;
  text-align: left;
}
.header p{
  font-family: Mulish;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
.btn{
  border: none;
  border-radius:  0.4375rem;
  padding:  13.278px 11.8027px;
  background-color: red;
  color: white;
  font-size: 11.8px;
  font-weight: 600;
  width: fit-content;
}
.red{
  color: red;
}
.grey{
  color: grey;
}
.black{
  color: black;
}
.store{
  display: flex;
  margin: 0%;
  padding: 0%;
}


/* freshchat */
.freshchatIcon{
  position: sticky;
  position: fixed;
  top: 80%;
  right: 7%;
  z-index: 1000;
  text-align: right;
}


/* Coming Soon */
.comingSoon{
  margin-bottom: 3rem;
  width: 100%;
}
.comingSoonTab, .comingSoonLaptop{
  display: none;
}


/* Animal Protein */
.animalProtein{
  padding: 0 2rem;
  text-align: center;
}
.animalProtein h2{
  font-size: 20pt;
  font-weight: 800;
}
.animalProtein p{
  font-size: 11pt;
  font-weight: 600;
  margin-bottom: 2rem;
}
.products{
  columns: 2;
}
.box{
  margin: auto;
  text-align: center;
  width: fit-content;
  margin-bottom: 3rem;
  font-size: 12px;
}

/* B2B */
.B2B{
  padding: 0 1rem;
  margin-top: 1rem;
}
.B2B h2{
  font-size: 22pt;
  font-weight: 800;
  text-align: center;
  margin-bottom: 1rem;
}
.B2B p{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  margin-bottom: 1rem;
}
.biz{
  margin-right: 1rem;
  height: 1.5rem;
}
.businesses{
  display: flex;
  height: 1.7rem;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.businesses :hover{
  filter: grayscale(1%);
  -webkit-filter: grayscale(1%);
}
.B2BLink{
  color: red;
  font-weight: 600;
  text-align: center;
}

/* earnWithSendme */
.earnWithSendme{
  padding: 2rem 1rem;
  background-color: #FDEEEE;
  margin-top: 2rem;
}
.earnWithSendme .col1{
  width: 100%;
}
.earnWithSendme h2{
  font-size: 20pt;
  font-family: Lato;
  font-weight: 900;
  margin-bottom: 1rem;
}
.earnWithSendme p{
  font-size: 11pt;
  font-family: Lato;
  margin-bottom: 1rem;
}
.earnWithSendme .box{
  display: flex;
  font-size: 13px;
  height: 1.5rem;
  margin: 0%;
  margin-top: 1rem;
}
.earnWithSendme .boxImg{
  height: 60%;
  margin-bottom: 0%;
  margin-right: .5rem;
}
.earnWithSendme button{
  padding: 13.278px 11.8027px;
  gap: 7.38px;
  background: #FF0000;
  border-radius: 7.37667px;
  color: white;
  font-size: 10pt;
  font-weight: 600;
  margin-top: 2rem;
  width: fit-content;
}

/* mobileApp */
.mobileApp{
  background: #FF0000;
  padding: 2rem 1rem;
  color: white;
}
.mobileApp .box1{
  width: 100%;
}
.mobileApp h2{
  font-size: 18pt;
  font-family: Mulish;
  font-weight: 900;
}
.mobileApp p{
  font-size: 11pt;
  font-family: Lato;
  margin-bottom: 1rem;
}


/* FAQ */
.FAQ{
  background-color: #1F1F1F;
  color: white;
  padding: 4rem 1rem 7rem;
}
.row{
  display:flex;
}
.box1{
  width: 15%;
  margin-right: .5rem;
}
.box2{
  margin-right: -1rem;
  margin-bottom: 3rem;
}
.FAQ h2{
  font-size: 15pt;
  font-family: Mulish;
  font-weight: 900;
}
.FAQ p{
  font-size: 10pt;
  font-family: Mulish;
  color: grey;
}
.accBox{
  font-size: 12pt;
  margin-left: -1rem;
  padding: 1rem 0;
}




@media only screen and (min-width: 768px) {
  /* Header */
  .header{
    padding: 6rem 5% 2rem;
  }
  .mainHeading{
    font-family: Lato;
    font-size: 40pt;
  }
  .header p{
    font-size: 20px;
  }
  .btn{
    font-size: 20px;
  }

  /* Coming Soon */
  .comingSoon{
    padding: 0%;
    width: 100%;
    background-image: url('../public/coming-soon.png');
    background-repeat: no-repeat;
    height: fit-content;
  }
  .comingSoonPhone{
    display: none;
  }
  .comingSoonTab{
    display: block;
  }

  /* Animal Protein */
  .animalProtein{
    padding: 5%;
  }
  .animalProtein h2{
    font-size: 30pt;
  }
  .animalProtein p{
    font-size: 17pt;
  }
  .products{
    width: 50%;
    margin: auto;
  }

  /* B2B */
  .B2B{
    padding: 5%;
  }
  .B2B h2{
    font-size: 30pt;
  }
  .B2B p{
    font-size: 17px;
  }
  .businesses{
    width: 100%;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .B2BLink{
    font-size: 20pt;
  }

  /* earnWithSendme */
  .earnWithSendme{
    padding: 5%;
  }
  .earnWithSendme h2{
    font-size: 30pt;
  }
  .earnWithSendme p{
    font-size: 17pt;
  }
  .earnWithSendme .boxImg{
    height: 100%;
    width: 1.5rem;
    margin-bottom: 0%;
    margin-right: .5rem;
  }
  .box ol{
    font-size: 14pt;
  }
  .earnWithSendme button{
    font-size: 17pt;
  }

  /* mobileApp */
  .mobileApp{
    padding: 5%;
  }
  .mobileApp .box h2{
    font-size: 30pt;
  }
  .mobileApp .box p{
    font-size: 17pt;
  }
  .mobileScreen{
    justify-self: center;
    margin: auto;
  }

  /* FAQ */
  .FAQ{
    padding: 5%;
  }
  .FAQ h2{
    font-size: 30pt;
  }
  .FAQ p{
    font-size: 17pt;
  }
  .accBox{
    font-size: 17pt;
  }
  .accPanel{
    font-size: 15pt;
  }
}

@media only screen and (min-width: 1024px) {
  /* Header */
  .header{
    display: flex;
    padding-top: 10rem;
  }
  .header .col1{
    width: 43%;
    margin-right: 3rem;
  }
  .header .col2{
    width: 55%;
    height: 80%;
    display: block;
    background-image: url('/imageStack.png');
    background-position: 70%;
    background-size: 100% 80%;
    background-repeat: no-repeat;
    border-radius: 185px;
  }
  .header .col2 img{
    width: 96%;
    height: 90%;
    border-radius: 45px;
  }
  .mainHeading{
    font-size: 66px;
    font-weight: 900;
  }
  .header p{
    font-size: 20px;
  }
  .btn{
    font-size: 20px;
  }

  /* Coming Soon */
  .comingSoonTab{
    display: none;
  }
  .comingSoonLaptop{
    display: block;
  }

  /* Animal Protein */
  .animalProtein{
    padding-bottom: 0%;
  }
  .animalProtein .products{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    width: 100%;
  }

  /* B2B */
  .B2B{
    text-align: center;
    margin: auto;
    width: 70%;
    padding-bottom: 7rem;
  }
  .B2B h2{
    font-size: 48pt;
  }
  .B2B p{
    font-size: 22px;
  }
  .businesses{
    width: 100%;
  }
  .biz{
    margin-top: 2rem;
    /* width: 4rem; */
    height: 2rem;
    margin-right: 3rem;
    margin-bottom: 4rem;
  }

  /* earnWithSendme */
  .earnWithSendme{
    display: flex;
  }
  .earnWithSendme .col1{
    width: 50%;
  }
  .earnWithSendme .col1 .box{
    margin-top: 2rem;
  }
  .earnWithSendme .col2{
    width: 50%;
    display: block;
    margin-left: 2rem;
  }
  .ewsImg{
    border-radius: 50px;
    max-height: 37rem;
    max-width: 30rem;
  }

  /* mobileApp */
  .mobileApp{
    height: 25.3rem;
    border-radius: 30px;
    width: 90%;
    margin: 5rem auto 6rem;
    display: flex;
  }
  .mobileApp .box1{
    width: 50%;
    text-align: left;
    order: 2;
  }
  .mobileApp .box2{
    order: 1;
    width: 50%;
    max-width: 25rem;
  }

  /* FAQ */
  .accBox br{
    display: none;
  }
}

@media only screen and (min-width: 1100px) {
  .mobileApp{
    margin-bottom: 12rem;
  }
}

@media only screen and (min-width: 1300px) {
  .mobileApp{
   width: 65rem;
  }
  .mobileApp .box1{
    width: 40%;
    position: absolute;
    right: 8rem;
  }
}

@media only screen and (min-width: 1900px) {
  /* freshchat */
  .freshchatIcon{
    top: 85%;
    right: 20%;
  }
}


@media only screen and (min-width: 2500px) {
  /* freshchat */
  .freshchatIcon{
    top: 85%;
    right: 25%;
  }
}

@media only screen and (min-width: 1523px) {
  .mobileApp .box{
    width: 35%;
    right: 12rem;
  }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  .content{
    background-color: rgb(6, 6, 6);
    color: white;
  }
  .earnWithSendme{
    background-color: rgb(6, 6, 6);
    color: white;
  }
  .comingSoon {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }
  .mobileApp{
    background-color: #bd0d0d;
  }
}