

/* Header */
.header{
  padding: 0 1rem;
  margin: 3rem 0rem;
}

.mainHeader{
  font-family: Lato;
  font-size: 50px;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  font-family: Mulish;
  font-size: 50px;
  font-weight: 700;
  line-height: 63px;
  letter-spacing: 0em;
  text-align: left;
}
.header p{
  font-family: Mulish;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
.header input{
  border: none;
  border-radius:  0.4375rem;
  padding:  13.278px 11.8027px;
  background-color: red;
  color: white;
  font-size: 11.8px;
}
.red{
  color: red;
}
.grey{
  color: grey;
}
.black{
  color: black;
}
.store{
  display: flex;
}


/* Coming Soon */
.comingSoon{
  margin-bottom: 4rem;
}

.animalProtein{
  padding: 0 2rem;
  margin-bottom: 4rem;
}
.products{
  columns: 2;
}
.box{
  margin: auto;
  text-align: center;
  width: fit-content;
  margin-bottom: 3rem;
  font-size: 12px;
}

/* B2B */
.B2B{
  padding: 0 1rem;
}
.businesses{
  display: flex;
}

/* earnWithSendme */
.earnWithSendme{
  padding: 1rem;
  background-color: #FDEEEE;
}
.earnWithSendme .box{
  display: flex;
  flex-direction: row;
  font-size: 15px;
}
.earnWithSendme input{
  display: flex;
  flex-direction: column;
  padding: 13.278px 11.8027px;
  gap: 7.38px;
  width: 125.84px;
  height: 42.2px;
  background: #FF0000;
  border-radius: 7.37667px;
}

/* mobileApp */
.mobileApp{
  background: #FF0000;
}

/* FAQ */
.FAQ{
  background-color: #1F1F1F;
  color: white;
  padding: 3rem 1rem;
}
.row{
  display: flex;
}

