.navbar{
  display: flex;
  border-bottom: 2px solid rgb(218, 217, 217);
  height: 2.5rem;
  position: fixed;
  z-index: 1000;
  background-color: white;
  width: 100%;
  top: 0%;
  max-width: 1500px;
}
.menu{
  padding-left: 1rem;
  width: fit-content;
  height: 40px;
}
.menuBar{
  display: none;
}
.menuItem:hover{
  width: 90%;
  background-color: blueviolet;
}


@media only screen and (min-width: 768px) {
  .navbar{
    height: 5rem;
    padding-left: 2%;
  }
  .menu{
    height: fit-content;
    margin-top: .5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar{
    padding-left: 3.5%;
  }
  .menuBar{
    display: block;
    margin: auto;
    margin-top: 2.2rem;
    /* font-size: 29pt; */
  }
  .hamburger{
    display: none;
  }
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  .drawer{
    background-color: rgb(6, 6, 6);
    color: white;
  }
}

